<ion-view view-title="Dashboard" hide-nav-bar="true">
    
  <ion-content>

      <div class="frontPageHeader">
          
          <div id="logoWrapper">
              <div class="logo center"><span class="accentColor space">Hello </span> Sophie</div>
              <!-- <div id="pulseLogo" class="center">
                 <i class="icon ion-ios-pulse"></i>
             </div>-->
          </div>
          <div class="frontSubHeader center">How are you today?</div>

      </div>

  
      

      <div class="item item-body imageField pills" ng-click="prescription()">
          <div class="barButton2 textBackground">
              5<i class="icon ion-ios-bell-outline"></i>
          </div>
          <div class="topText pillColor">
              Prescriptions 
          </div>
          
      </div>



      <div class="item item-body imageField heart" ng-click="exams()">
          <div class="topText heartColor">
              Exams
          </div>

      </div>

      <div class="footer center">
          <div class="claraHealth">Clara <span class="accentColor">Health Platform </span></div>
      </div>
  </ion-content>
</ion-view>
