<ion-view view-title="Dashboard" hide-nav-bar="true">
    
  <ion-content>

      <div id="logoWrapper">
          <div class="logo center">Clara</div>
      </div>
      

      <div class="item item-body imageField pills" ng-click="prescription()">
          <div class="topText pillColor">
              Prescriptions 
          </div>
          
      </div>



      <div class="item item-body imageField heart" ng-click="exams()">
          <div class="topText heartColor">
              Exams
          </div>

      </div>

      <div id="happiness">
          <div class="descriptionText">How are you feeling today?</div>
          <div class="range range-calm">
              <i class="icon ion-sad-outline"></i>
              <input type="range" name="volume" ng-model="data.volume">
              <i class="icon ion-happy-outline"></i>
          </div>
      </div>


  </ion-content>
</ion-view>
