<ion-view view-title="Exams" hide-nav-bar="true">
    <ion-content>
        <div class="bannerOverlay">
            <div class="pogBack item-input" ng-click="goToDash()"> <i class="icon ion-ios-arrow-back bigger"></i> <span class="paddingUP"> Back</span></div>
            <div class="imageBanner glucoseBanner">
                <div class="textDescription">
                    Glucose Levels
                </div>
            </div>
        </div>
        <div class="barButton bloodBackground">
        </div>
        <div id ="loadingExam" class="load-bar" ng-if="showLoading">
            <div class="loading"></div>
            <div class="loading"></div>
            <div class="loading"></div>
        </div>


        <div class="row padding">
            <div class="col col-75">
                <label class="item item-input">
                    <i class="icon ion-waterdrop placeholder-icon"></i>
                    <input type="number" data-ng-model="glucoseValue" placeholder="{{placeHolder}}">
                </label>

                </div>
                <div id="buttonGlucose" class="col col-25">
                    <button class="btn white" ng-click="saveGlucose(glucoseValue);" ng-if="!submited">
                        <span class="pinkAccent">Save</span>
                    </button>
                    <div class="checkIcon" ng-if="submited">
                        <i class="icon ion-checkmark" ></i>
                    </div>
                </div>

            </div>
        

        <div class="contentDescription">
            

                <div class="smallBox">
                    <div class="smallBox">
                        <span class="descriptionHeader">
                            1.
                        </span>
                        <span class="descriptionText">
                            Wash and dry your <span class="accentColor">hands well</span">.
                        </span>
                    </div>
                    <div class="smallBox">
                        <span class="descriptionHeader">
                            2.
                        </span>
                        <span class="descriptionText">
                            Insert a<span class="accentColor"> test strip</span> into your meter.
                        </span>
                    </div>
                    <div class="smallBox">
                        <span class="descriptionHeader">
                            3.
                        </span>
                        <span class="descriptionText">
                            Prick the side of your <span class="accentColor">fingertip with the needle </span>(lancet) provided with your test kit.
                        </span>
                    </div>
                    <div class="smallBox">
                        <span class="descriptionHeader">
                            4.
                        </span>
                        <span class="descriptionText">
                            Gently <span class="accentColor">squeeze</span> or massage <span class="accentColor">your finger</span> until a drop of blood forms.
                        </span>
                    </div>
                    <div class="smallBox">
                        <span class="descriptionHeader">
                            5.
                        </span>
                        <span class="descriptionText">
                            Touch and hold the edge of the test strip to the <span class="accentColor">drop of blood</span>.
                        </span>
                    </div>
                    <div class="smallBox">
                        <span class="descriptionHeader">
                            6.
                        </span>
                        <span class="descriptionText">
                            The meter will display your blood glucose level on a screen after a few seconds.
                        </span>
                    </div>
                </div>
            </div>
</ion-content>
</ion-view>
