/* Empty. Add your own CSS if you like */

body{
    font-family: Roboto !important;
}

.materialAzul{
        border-color: #009688;
		background-color: #009688;
		background-image: linear-gradient(0deg, #009688, #009688 50%, transparent 50%);
        color: white !important;
}

.imageField{
    
    background-size: 200px;
    background-repeat: no-repeat !important;
    background-position:right;
    font-size: large;
    width: 100%;
    color: white;
    height:150px;
    border: none !important;
    margin-bottom: 5px;
}
.button-white{
    color:white !important;
}

.pills{
    background-image: url('../img/pills.jpg') !important;
}
.heart{
    background-size: 140px;
    background-position-x: 190px;
    background-image: url('../img/heart.png') !important;
}

.topText{
    color:black;
    font-family: Roboto-Thin;
    margin-top: 41px;
    margin-left: 5px;
    font-size: 24px;
    
}

.heartColor{
    border-bottom: solid 2px #D32F2F;
    width : 60%;
}
.pillColor{
    border-bottom: solid 2px #80CBC4;
    width: 50%;
}

.logo{
    color: #424242;
    font-size: 52px;
    height:48px;
    font-family: "Roboto-Thin";
    margin-bottom: 15px;

    
    margin-bottom: 30px;
}

#logoIcon{
    opacity: 0.2;
    color: #FF4081;
    wi
}

#logoWrapper{
    margin-top: 45px;
    font-size: 65px;
}

.textDescription{
    color: white;
    font-size: 24px;
    font-family: Roboto;
}

.textDescription2{
    color: white;
    font-size: 24px;
    font-family: Roboto-Thin;
}

.imageBanner{
  
    
    background-size: cover;
    background-repeat: none;
   
   
    height: 150px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-top: 110px;
    padding-left: 15px;
}

.pillsBanner{
    background-image: url('../img/bannerPills.jpg');

}

.glucoseBanner{
    background-image: url('../img/bannerGlucose.jpg');
}


.filler{
    height: 100px;
    background-color: #009688;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: white;
    padding-top: 65px;
    padding-left: 15px;
}

.pogBack{
    padding: 10px;
    float:left;
    color: white;
    font-size: 20px;
    font-family: Roboto;
}
.bigger {
    font-size: 28px;
}
.paddingUP{
    padding-left:5px;

}
.barButton{
    background-color: #FF4081;
    margin-top: -35px;
    margin-left: 75%;
    margin-bottom: 10px;
 

    width: 60px;
    height: 60px;
    
    
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);

}
.pillBackground{
    background-image: url('../img/medicine.png') !important;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position:center;
}

.bloodBackground{
    background-image: url('../img/blood.png') !important;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position:center;
}

.textBackground{
    color: white;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 10px;
}

.contentDescription{
    padding-left: 15px;
    padding-right: 40px;
}



.smallBox{
    text-align: justify;
    margin-bottom: 15px;
}

.descriptionHeader{
    color: #00BFA5;
    font-size: 18px;
}

.descriptionText{
    font-size: 20px;
    font-family: Roboto-Thin;
}

.accentColor{
    color: #00BFA5;
}


.pinkAccent{
    color: #00BFA5 !important;
}

#buttonGlucose{
    float:right;
}

#loadingExam{
    float:left;
    margin-top: -35px;
    margin-bottom: 36px;
    z-index: -999;
    

}

.checkIcon{
    color: #00BFA5;
    font-size: 32px;
    padding-left: 10px;
    padding-top: 7px;
}


.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.btn {
  position: relative;

  display: block;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  font-size: 22px;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}


.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}

.btn.pink{
    background-color: #E91E63;
}

.btn.pink:hover, .btn.pink:focus {
  background-color: #C2185B;
}


.btn.white {
  background-color: white;
  border: 0 !important;
  box-shadow: none;
  margin-left: -10px;
  font-size: 18px;

}

.btn.white:hover, .btn.white:focus {
  background-color: #E91E63;
}




@font-face {
    font-family: 'Roboto';
    src: url('../lib/ionic/fonts/RobotoRegular.eot');
    src: url('../lib/ionic/fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../lib/ionic/fonts/RobotoRegular.woff') format('woff'),
         url('../lib/ionic/fonts/RobotoRegular.ttf') format('truetype'),
         url('../lib/ionic/fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../lib/ionic/fonts/RobotoThin.eot');
    src: url('../lib/ionic/fonts/RobotoThin.eot') format('embedded-opentype'),
         url('../lib/ionic/fonts/RobotoThin.woff') format('woff'),
         url('../lib/ionic/fonts/RobotoThin.ttf') format('truetype'),
         url('../lib/ionic/fonts/RobotoThin.svg#RobotoThin') format('svg');
}




.load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 4px;
  background-color: #fdba2c;
}
.loading {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.loading:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.loading:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.loading:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}